.text-center {
  text-align: center;
}

.header {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.page-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

.child-container {
  flex-basis: 50%;
}

@media (max-width: 800px) {
  .child-container {
    flex-basis: 100%;
  }
}

