<form nz-form [formGroup]="validateForm" class="address-info-step-form">
  <br>
  <br>
  <div class="text-center">
    <h2>What's your address?</h2>
  </div>
  <br>
  <label class="label">Home address</label>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="text" nz-input formControlName="address1" placeholder="123 One Medical St." />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="text" nz-input formControlName="address2" placeholder="Apt, Floor, Unit" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <label class="label">City</label>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="text" nz-input formControlName="city" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="state-zipcode">
    <div class="state">
      <label class="label">State</label>
      <nz-select nzAllowClear nzPlaceHolder="-- Select state --" formControlName="state">
        <ng-container *ngFor="let state of states">
          <nz-option nzLabel="{{state}}" nzValue="{{state}}"></nz-option>
        </ng-container>
      </nz-select>
    </div>

    <div class="zipcode">
      <label class="label">ZIP code</label>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="zipcode" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <label class="label">Area</label>
  <nz-select nzAllowClear nzPlaceHolder="-- Select location --" formControlName="area">
    <ng-container *ngFor="let area of areas">
      <nz-option nzLabel="{{area}}" nzValue="{{area}}"></nz-option>
    </ng-container>
  </nz-select>
  <br>

  <div class="submit-container">
    <button nz-button class="submit" [disabled]="!allowSubmit()" (click)="submit()">Next</button>
  </div>
</form>
