.address-info-step-form {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.state-zipcode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
}

@media (max-width: 800px) {
  .state-zipcode {
    flex-direction: column;
    row-gap: 30px;
  }

  .submit-container {
    flex-direction: column !important;
    margin-bottom: 10px;
  }

  .button.ant-btn.submit {
    flex-basis: 100% !important;
  }

  input {
    height: calc(2.7rem + 2px) !important;
  }
}

.state {
  display: flex;
  flex-flow: column wrap;
  flex: 10%;
}

.zipcode {
  display: flex;
  flex-flow: column wrap;
  flex: 10%;
}

select.unset[_ngcontent-big-c291] {
  color: #918f8d;
}

.submit-container {
  display: flex;
  flex-flow: row-reverse wrap;
}

button.ant-btn.submit {
  color: #fff;
  background-color: #068466;
  cursor: pointer;
  flex-basis: 35%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.0625rem;
  line-height: 1.8;
  border-radius: 0.25rem;
}

button.submit:hover:focus {
  background-color: #0c5f4d;
  border: 1px solid transparent;
}

button.submit:hover {
  background-color: #0c5f4d;
}


button.ant-btn.submit:disabled {
  opacity: .65;
  cursor: not-allowed;
}

input {
  height: calc(3.3125rem + 2px);
}

input.valid:hover {
  border: 1px solid #15f4bf;
}

input.valid:focus {
  border: 1px solid #15f4bf;
}

input.invalid {
  border: 1px solid #d54859;
}

input.invalid:hover {
  border: 1px solid #d54859;
}

input.invalid:focus {
  border: 1px solid #bf5965;
  box-shadow: 0 0 0 .2rem rgba(213,72,89,.25);
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: calc(3.3125rem + 2px);
  align-items: center;
  font-size: 15px;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  height: calc(3.3125rem + 2px);
  align-items: center;
  font-size: 15px;
  border: 1px solid #15f4bf;
}

::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #15f4bf;
}

::ng-deep .anticon-spin {
  width: 2em;
  height: 2em;
}
