.text-center {
  text-align: center;
}

.login-info-step-form {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.field-name {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 5%;
}

.first-name {
  flex: 10%;
  display: flex;
  flex-flow: column wrap;
  max-height: 124px;
}

.last-name {
  flex: 10%;
  display: flex;
  flex-flow: column wrap;
  max-height: 124px;
}

.preferred-name {
  float: left;
}

.label {
  float: left;
}

.pwd-requirements {
  display: flex;
  flex-flow: column wrap;
}

.pwd-not-match {
  color: #adb5bd;
  font-size: 0.7rem;
}

.pwd-not-match::before {
  content: "•";
  font-size: 21px;
  line-height: 0;
  margin: 0 3px 0 1px;
}

.pwd-match {
  color: #068466;
  font-size: 0.7rem;
}

.checkmark {
  width: 12px;
  height: 9px;
}

.email-field {
  margin-bottom: 0.3em;
}

@media (max-width: 800px) {
  .field-name {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .submit-container {
    flex-direction: column-reverse !important;
    flex-wrap: nowrap !important;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .already-member {
    align-self: center;
    margin-top: 10px;
  }

  .pwd-requirements {
    margin-bottom: 20px;
  }

  .button.ant-btn.submit {
    flex-basis: 100% !important;
  }

  input {
    height: calc(2.7rem + 2px) !important;
  }

  .toggle-pw-visibility {
    top: 11px !important;
  }
}

.submit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  max-height: 40px;
}

button.ant-btn.submit {
  color: #fff;
  background-color: #068466;
  cursor: pointer;
  flex-basis: 35%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.0625rem;
  line-height: 1.8;
  border-radius: 0.25rem;
}

button.submit:hover {
  background-color: #0c5f4d;
}

button.submit:hover:focus {
  background-color: #0c5f4d;
  border: 1px solid transparent;
}

button.ant-btn.submit:disabled {
  opacity: .65;
  cursor: not-allowed;
}

input {
  height: calc(3.3125rem + 2px);
}

input.valid:hover {
  border: 1px solid #15f4bf;
}

input.valid:focus {
  border: 1px solid #15f4bf;
}

input.invalid {
  border: 1px solid #d54859;
}

input.invalid:hover {
  border: 1px solid #d54859;
}

input.invalid:focus {
  border: 1px solid #bf5965;
  box-shadow: 0 0 0 .2rem rgba(213,72,89,.25);
}

.pwd-wrapper {
  position: relative;
}

.toggle-pw-visibility {
  cursor: pointer;
  color: #0358b2;
  font-size: 1rem;
  position: absolute;
  right: 16px;
  top: 15px;
  z-index: 1;
}

::ng-deep .anticon-spin {
  width: 2em;
  height: 2em;
}
